@import "tailwindcss";

@font-face {
  font-family: Nunito;
  src: url(../img/Nunito.ttf);
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FEFAE0;
  color: #352f36;
  font-family: Nunito;
}

button {
  background-color: #FFFFFF;
  border-radius: 10rem;
}