@import "tailwindcss";

@font-face {
  font-family: Nunito;
  src: url(../img/Nunito.ttf);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #FEFAE0;
  font-family: Nunito;
}

button {
  background-color: #FFFFFF;
  border-radius: 10rem;
  /* border-gray-300 rounded-lg py-2 px-4 */
}